/* @import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.containerr{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}


form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text{
    text-align: center;
    font-size: 2.2rem;
    color: #3BDE8C;
    margin: 20px 0;
    
}

.text-box{
    max-width: 380px;
    width: 100%;
    height: 43px;
    border: 2px solid #acacac ;
    margin: 5px 0;
    border-radius: 40px;
    display:grid;
    grid-template-columns: 15% 85%;

}

.text-box i {
  text-align: center;
  line-height: 43px;
  color: #acacac;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.text-box input {
  border: none;
  outline: none;
  background: none;
  color: #333;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 5px;
}


.Submit-Btn {
  width: 160px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #3bde8c;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin: 25px 0;
  transition: 0.5s;
}

.Submit-Btn:hover {
  background-color: #08b961;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
  margin-bottom: 15px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  border: 1px solid #333;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  border-radius: 50%;
  transition: 0.3s;
}

.social-icon:hover {
  color: #3bde8c;
  border-color: #333;
  height: 50px;
  width: 50px;
}
.boyimg {
  background: url("../images/boy.png") no-repeat center center/cover;
  position: relative;
  margin-top: -310px;
  width: 500px;
} */


