@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
.Listening-sectiontitle .Listitle{
                                padding-left: 501px;
 }

.Lisinstructions{
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color: aliceblue;
    /* font-family: 'Roboto Condensed', sans-serif; */
}
.Listening-sectiontitle h1{
    font-size: 30px;
    color: rgb(19, 226, 112);
}
.LisIns{
    color: #4d5968;
    margin: 0 0 1.382em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: 400;
    line-height: 1.618;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 26px;
}

.LisTips{
    font-family:  nunito sans,-apple-system,blinkmacsystemfont,segoe ui,roboto,helvetica,arial,sans-serif;
}

.LisTime{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 26px;
}

.LisTp{
   font-family:  nunito sans,-apple-system,blinkmacsystemfont,segoe ui,roboto,helvetica,arial,sans-serif;
    font-size: 20px;
    color: #4d5968;
    margin: 0 0 1.382em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: 400;
    line-height: 1.618;
}

.Listening-test{
    margin: auto;
    width: 80%;
    padding: 10px;
}


.Listening-test .Buttonhead{
   color: blue;
}
.Listening-test  button{
    border: 2px solid black;
    width: 139px;
    border-radius: 6px;
    margin-left: 2px;
    padding: 0px;
    margin-top: 0px;
    background-color: rgb(242, 154, 23);
    font-weight: 400;
    font-size: 20px
}

.Listening-test  button:hover{
    background-color: #191a1c;
    color: #ffff;
}

.Lisviewins{
    border: 2px solid black;
    width: 200px;
    border-radius: 6px;
    margin-left: 2px;
    padding: 0px;
    margin-top: 0px;
    background-color: rgb(242, 154, 23);
    font-weight: 400;
}

.Listening-test a{
    padding:1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 1.382em;
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.Listening-test h2{
    font-size: 30px;
}